<div id="wrapper" class="ng-scope">
    <div class="gray-bg">
        <div class="wrapper wrapper-content">
        	<div ng-app="loginApp">
                <div ng-controller="loginCtrl">
					<div class="container mar-all">
						<div class="d-flex justify-content-center h-100">
							<div class="card">
								<div class="card-header">
									<h3>Sign In</h3>
								</div>
								<div class="card-body">
									<form>
										<div class="input-group form-group">
											<input type="text"  id="email" name="email" class="form-control" placeholder="email">
										</div>
										<div class="input-group form-group">
											<span class="error" id="emailError" style="display:none;">Please Enter Email</span>
										</div>
										<div class="input-group form-group">
											<input type="password" id="password" name="password"  class="form-control" placeholder="password">
										</div>
										<div class="input-group form-group">
											<span class="error" id="passwordError" style="display:none;">Please Enter Password</span>
										</div>
										<div class="input-group form-group">
											<span class="error" id="loginError" style="display:none;">Incorrect Email or Password.</span>
										</div>
										<div class="form-group">
											<input type="button" value="Login" class="btn btn-success float-right login_btn" ng-click="login();">
										</div>
									</form>
								</div>
								<div class="card-footer">
									<div class="d-flex justify-content-center links">
										Don't have an account?<a href="/login" ng-click="createUserModelOpen()">Sign Up</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="createUserModal" class="modal" tabindex="-1" role="dialog">
				        <div class="modal-dialog" role="document">
				            <div class="modal-content">
				                <div class="modal-header">
				                    <h5 class="modal-title">Create User</h5>
				                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                        <span aria-hidden="true">&times;</span>
				                    </button>
				                </div>
				                <div class="modal-body">
									<form id="createBook" name="createBook">
										<div class="form-group" [formGroup]="createForm">
											<label for="add_first_name">First Name</label>
											<input class="form-control" formControlName="first_name" id="add_first_name">
											<span class="error" id="add_first_name_error" style="display:none">Please Enter First Name</span>
										</div>

										<div class="form-group" [formGroup]="createForm">
											<label for="add_last_name">Last Name</label>
											<input class="form-control" formControlName="last_name" id="add_last_name">
											<span class="error" id="add_last_name_error" style="display:none">Please Enter Last Name</span>
										</div>

										<div class="form-group" [formGroup]="createForm">
											<label for="add_email">Email</label>
											<input class="form-control" formControlName="email" id="add_email">
											<span class="error" id="add_email_error" style="display:none">Please Enter Email</span>
										</div>

										<button type="submit" class="btn btn-primary float-right" ng-click="createUser();">Submit</button>
										<button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default float-right mar-right" ng-click="createUser();">Close</button>
									</form>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>