<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title id="title"></title>
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">

	<script src="https://kit.fontawesome.com/7414d65589.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="assets/js/jquery-3.5.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<script src="assets/js/angular.js"></script>
</head>
<body>
  <app-root></app-root>
  <script type="text/javascript">
		var app = angular.module('loginApp', []);
		app.controller('loginCtrl', function ($scope, $http, $compile, $filter, $location, $window, $interval) {

			$scope.url = "http://localhost:3001/";
			$scope.baseURL = "http://localhost:4200/book";

			$scope.login = function (){
				if($("#email").val() == '' || $("#email").val() == undefined) {
					$("#emailError").css("display","inline");
				} else if($("#password").val() == '' || $("#password").val() == undefined) {
					$("#emailError").css("display","none");
					$("#passwordError").css("display","inline");
				} else {
					$("#passwordError").css("display","none");
					var url = $scope.url+"login-user";
					var email = $("#email").val();
					var password = $("#password").val();
					var data = {
						email: email,
						password: password
					};
					$http.post(url, data).then(function(response){
						if(response.data.success == false) {
							$("#loginError").css("display","inline");
						} else {
							$("#loginError").css("display","none");
							localStorage.setItem('email',email);
							$window.location.href = '/mail';
						}
					});
				}
			}

			$scope.createUserModelOpen = function (){
				$("#createUserModal").modal("show");
			}

			$scope.createUser = function (){
				if($("#add_first_name").val() != '' && $("#add_last_name").val() != '' && $("#add_email").val() != '') {
					$("#createUserModal").modal("hide");

					var first_name = $("#add_first_name").val();
					var last_name = $("#add_last_name").val();
					var email = $("#add_email").val();

					var data = {
						'first_name':first_name,
						'last_name':last_name,
						'email':email
					};
					var url = $scope.url+"create-user";
					$http.post(url, data).then(function(response){

					});
				} else {
					if($("#add_first_name").val() == '') {
						$("#add_first_name_error").css('display','inline');
					} else if($("#add_last_name").val() == '') {
						$("#add_first_name_error").css('display','none');
						$("#add_last_name_error").css('display','inline');
					} else if($("#add_email").val() == '') {
						$("#add_last_name_error").css('display','none');
						$("#add_email_error").css('display','inline');
					} else {
						$("#add_email_error").css('display','none');
					}
				}
			}

			
			$interval(function(){
			}, 1000)
		});

		var mail = angular.module('mailApp', []);
		mail.controller('mailCtrl', function ($scope, $http, $compile, $filter, $location, $window, $interval) {
			$scope.url = "http://localhost:3001/";
			$scope.emails = [];
			$scope.users = [];
			$scope.new_mail = [];

			$scope.logout = function (){
				var url = $scope.url+"logout-user";
				var email = localStorage.getItem('email');
				var data = {
					email: email
				};
				$http.post(url, data).then(function(response){
					if(response.data.success == false) {
						alert('Unauthorized Login');
					} else {
						localStorage.removeItem('email');
						$window.location.href = '/login';
					}
				});
			}

			$scope.composeModelOpen = function (){
				$("#composeModal").modal("show");
			}

			$scope.compose = function (){
				if($("#to").val() != '') {
					$("#to_error").css('display','none');
					$("#composeModal").modal("hide");

					var to = $("#to").val();
					var from = localStorage.getItem('email');
					var subject = $("#subject").val();
					var body = $("#body").val();

					var data = {
						'to':to,
						'from':from,
						'subject':subject,
						'body':body
					};
					var url = $scope.url+"send-message";
					$http.post(url, data).then(function(response){
						$("#email").html('');
						$scope.emails = [];
						$scope.getMessage();

					});
				} else {
					if($("#to").val() == '') {
						$("#to_error").css('display','inline');
					} else {
						$("#to_error").css('display','none');
					}
				}
			}

			$scope.closeModel = function() {
				$("#composeModal").modal("hide");
			}

			$scope.sentMail = function() {
				$("#inbox").removeClass('selected');
				$("#sent").addClass('selected');
				$('#title').html('');
				$("#email").css('opacity','0.5');
				$("#email_message").css('opacity','0.5');
				$("#sent_message").css('opacity','0.5');
				var title = "Sent Mail";
				var $title = $(title).appendTo('#title');
				$compile($title)($scope);
				$('#email').css('display','none');
				$('#sent_message').css('display','inline');
				$('#sent_message').html('');
				$scope.new_mail = [];
				var email = localStorage.getItem('email');
				var url = $scope.url+"sent-message?email="+email;
				$http.get(url).then(function(response){
					var new_mail = response.data.data;
					if(new_mail != undefined && new_mail != '') {
						angular.forEach(new_mail, function (value, key) {
							$scope.new_mail.push({"created_at":value.created_at,"from_address":value.from_address,"id":value.id,"is_read":value.is_read,"message":value.message,"message_id":value.message_id,"subject":value.subject,"to_address":value.to_address,"updated_at":value.updated_at});
						});
						angular.forEach($scope.new_mail, function (value, key) {
							if(value != undefined && value != '') {
								if(value.is_read == "N") {
									var EmailHTMLNEW = '<div class="row message" ng-click="message_read(\''+value.id+'\');">';
									EmailHTMLNEW += '<div class="col-md-4">';
									EmailHTMLNEW += '<b>'+value.from_address+'</b>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '<div class="col-md-6">';
									EmailHTMLNEW += '<b>'+value.subject+' - '+value.message+'</b>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '<div class="col-md-2 txt-right date">';
									EmailHTMLNEW += '<b>'+convert(value.created_at)+'</b>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '<hr/>';
								} else {
									var EmailHTMLNEW = '<div class="row message" ng-click="message_read(\''+value.id+'\');">';
									EmailHTMLNEW += '<div class="col-md-4">';
									EmailHTMLNEW += value.from_address;
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '<div class="col-md-6">';
									EmailHTMLNEW += value.subject+' - '+value.message;
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '<div class="col-md-2 txt-right">';
									EmailHTMLNEW += convert(value.created_at);
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '<hr/>';
								}
								var $email = $(EmailHTMLNEW).appendTo('#sent_message');
								$compile($email)($scope);
							} else {
								var EmailHTMLNEW = "<h3>No Messages Found</h3>";
								var $email = $(EmailHTMLNEW).appendTo('#sent_message');
								$compile($email)($scope);
							}
						});
					} else if(response.data.message != undefined && response.data.message != '') {
						var EmailHTMLNEW = "<h3>"+response.data.message+"</h3>";
						var $email = $(EmailHTMLNEW).appendTo('#sent_message');
						$compile($email)($scope);
					} else {
						var EmailHTMLNEW = "<h3>No Messages Found</h3>";
						var $email = $(EmailHTMLNEW).appendTo('#sent_message');
						$compile($email)($scope);
					}
				});
			}

			$scope.message_read = function (id){
				$("#email").css('opacity','2.5');
				$("#email_message").css('opacity','2.5');
				$("#sent_message").css('opacity','2.5');
				$('#email_message').html('');
				$('#email').css('display','none');
				$('#email_message').css('display','inline');
				$('#sent_message').css('display','none');
				var url = $scope.url+"read-message/"+id;
				$http.get(url).then(function(response){
					$window.location.url = '/mail/'+id;
					var created_at = response.data.data.created_at;
					var from_address = response.data.data.from_address;
					var id = response.data.data.id;
					var message = response.data.data.message;
					var subject = response.data.data.subject;
					var EmailHTMLNEW = "<div class='row'>";
					EmailHTMLNEW += "<div class='col-md-4'>";
					EmailHTMLNEW += "<button class='mar-right' ng-click='home()' class='no-line'><i class='fas fa-arrow-left'></i></button>";
					EmailHTMLNEW += '<button class="mar-right" ng-click="removeMessage(\''+id+'\');" class="no-line"><i class="fas fa-trash"></i></button>';
					EmailHTMLNEW += "</div>";
					EmailHTMLNEW += "</div>";
					EmailHTMLNEW += "<hr/>";
					EmailHTMLNEW += "<div class='row'>";
					EmailHTMLNEW += "<div class='col-md-8'>";
					EmailHTMLNEW += "<h3>"+subject+"</h3>";
					EmailHTMLNEW += "</div>";
					EmailHTMLNEW += "<div class='col-md-4'>";
					EmailHTMLNEW += "<p class='txt-right'>"+readDate(created_at)+" ("+timeSince(created_at)+" ago)</p>";
					EmailHTMLNEW += "</div>";
					EmailHTMLNEW += "</div>";
					EmailHTMLNEW += "<br/><br/>";
					EmailHTMLNEW += "<b>"+from_address+"</b>";
					EmailHTMLNEW += "<p>"+message+"</p>";
					EmailHTMLNEW += "<br><br><br>";
					EmailHTMLNEW += "<button class='btn compose mar-bottom mar-right' type='button' ng-click='reply();' id='inbox'><i class='fas fa-reply'></i> Reply</button>";
					var $email = $(EmailHTMLNEW).appendTo('#email_message');
					$compile($email)($scope);
				});
			}

			$scope.reply = function() {

			}


			function timeSince(date) {
				var seconds = Math.ceil((new Date() - new Date(date)) / 1000);
				var interval = seconds / 31536000;
				if (interval > 1) {
					return Math.ceil(interval) + " years";
				}
				interval = seconds / 2592000;
				if (interval > 1) {
					return Math.ceil(interval) + " months";
				}
				interval = seconds / 86400;
				console.log(seconds);
				console.log(interval);
				if (interval > 1) {
					return Math.ceil(interval) + " days";
				}
				interval = seconds / 3600;
				if (interval > 1) {
					return Math.ceil(interval) + " hours";
				}
				interval = seconds / 60;
				if (interval > 1) {
					return Math.ceil(interval) + " minutes";
				}
				return Math.ceil(seconds) + " seconds";
			}

			$scope.home = function (){
				$('#email_message').css('display','none');
				$('#sent_message').css('display','none');
				$("#email").html('');
				$("#email").css('opacity','0.5');
				$("#email_message").css('opacity','0.5');
				$("#sent_message").css('opacity','0.5');
				$('#email').css('display','inline');
				$scope.emails = [];
				$scope.getMessage();
			}

			$scope.getUsers = function (){
				$scope.users = [];
				var email = localStorage.getItem('email');
				var url = $scope.url+"user-emails?email="+email;
				$http.get(url).then(function(response){
					var new_user = response.data.data;
					angular.forEach(new_user, function (value, key) {
						$scope.users.push({"email":value.email});
					});
				});
			}


			$scope.getMessage = function (){
				$("#inbox").addClass('selected');
				$("#sent").removeClass('selected');
				$('#title').html('');
				var title = "Inbox";
				var $title = $(title).appendTo('#title');
				$compile($title)($scope);
				$('#email_message').css('display','none');
				$('#sent_message').css('display','none');
				$('#email').css('display','inline');
				$scope.emails = [];
				$("#email").html('');
				var email = localStorage.getItem('email');
				var url = $scope.url+"get-messages?email="+email;
				$http.get(url).then(function(response){
					$("#to").html('');
					var UserHTML = '';
					angular.forEach($scope.users, function (value) {
						UserHTML += "<option id='"+value.email+"'>"+value.email+"</option>";
					});
					var $user = $(UserHTML).appendTo('#to');
					$compile($user)($scope);
					if(response.data.message == "Messages Not Found.") {
						var EmailHTML = "<h3>No Messages Found</h3>";
						var $email = $(EmailHTML).appendTo('#email');
					} else {
						var new_email = response.data.data;
						angular.forEach(new_email, function (value, key) {
							$scope.emails.push({"id": value.id, "from_address": value.from_address, "to_address": value.to_address, "subject": value.subject, "message": value.message, "is_read" : value.is_read, "created_at": value.created_at});
						});
						angular.forEach($scope.emails, function (value) {
							if(value != undefined && value != '') {
								if(value.is_read == "N") {
									var EmailHTML = '<div class="row message" ng-click="message_read(\''+value.id+'\');">';
									EmailHTML += '<div class="col-md-4">';
									EmailHTML += '<b>'+value.from_address+'</b>';
									EmailHTML += '</div>';
									EmailHTML += '<div class="col-md-6">';
									EmailHTML += '<b>'+value.subject+' - '+value.message+'</b>';
									EmailHTML += '</div>';
									EmailHTML += '<div class="col-md-2 txt-right date">';
									EmailHTML += '<b>'+convert(value.created_at)+'</b>';
									EmailHTML += '</div>';
									EmailHTML += '</div>';
									EmailHTML += '<hr/>';
								} else {
									var EmailHTML = '<div class="row message" ng-click="message_read(\''+value.id+'\');">';
									EmailHTML += '<div class="col-md-4">';
									EmailHTML += value.from_address;
									EmailHTML += '</div>';
									EmailHTML += '<div class="col-md-6">';
									EmailHTML += value.subject+' - '+value.message;
									EmailHTML += '</div>';
									EmailHTML += '<div class="col-md-2 txt-right">';
									EmailHTML += convert(value.created_at);
									EmailHTML += '</div>';
									EmailHTML += '</div>';
									EmailHTML += '<hr/>';
								}
								var $email = $(EmailHTML).appendTo('#email');
								$compile($email)($scope);
							} else {
								var EmailHTML = "<h3>No Messages Found</h3>";
								var $email = $(EmailHTML).appendTo('#email');
								$compile($email)($scope);
							}
						});
					}
				});
			}

			$scope.removeMessage = function (id){
				var url = $scope.url+"remove-message/"+id;
				$http.delete(url).then(function(response){
					var book_details = response.data.data;
					if(book_details != undefined && book_details != '') {
						$('#email_message').css('display','none');
						$('#sent_message').css('display','none');
						$("#email").html('');
						$('#email').css('display','inline');
						$scope.emails = [];
						$scope.getMessage();
					}
				});
			}

			function convert(str) {
			    var current_date = new Date(str);
			    var today_date = new Date();
			    var only_date = current_date.getDate();
			    var only_today_date = today_date.getDate();
			    var only_year = current_date.getFullYear();
			    var only_today_year = today_date.getFullYear();
			    var result_date = '';
			    var month_name = function(dt){
					mlist = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
					  return mlist[dt.getMonth()];
				};
				if(only_year == only_today_year) {
					if(only_date == only_today_date) {
				    	var isPM = current_date.getHours() >= 12;
						var isMidday = current_date.getHours() == 12;
						var result = document.querySelector('#result');
					   	result_date = [current_date.getHours() - (isPM && !isMidday ? 12 : 0), 
						            current_date.getMinutes() || '00'].join(':') +
						           (isPM ? ' pm' : 'am');
				    } else {
				    	var month = month_name(current_date);
						var dates = current_date.getDate();
						result_date = month +' '+dates;
			   		}
				} else {
					var date = current_date.getDate();
					var month = current_date.getMonth() + 1;
					var year = current_date.getFullYear();
					result_date =  date +'/'+ month +'/'+ year;
				}
			    
				return result_date;
			}

			function readDate(str) {
				var current_date = new Date(str);
			    var today_date = new Date();
			    var only_date = current_date.getDate();
			    var only_today_date = today_date.getDate();
			    var only_year = current_date.getFullYear();
			    var only_today_year = today_date.getFullYear();
			    var result_date = '';
			    var month_name = function(dt){
					mlist = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
					return mlist[dt.getMonth()];
				};

				var isPM = current_date.getHours() >= 12;
				var isMidday = current_date.getHours() == 12;
				var result = document.querySelector('#result');
			   	var time = [current_date.getHours() - (isPM && !isMidday ? 12 : 0), 
				            current_date.getMinutes() || '00'].join(':') +
				           (isPM ? ' pm' : 'am');
				var date = current_date.getDate();
				var month = month_name(current_date);
				var year = current_date.getFullYear();
				result_date = month +' '+date+','+ year+', '+time;
				return result_date;

			}
		});
	</script>
</body>
</html>
