<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title id="title"></title>
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">

	<script src="https://kit.fontawesome.com/7414d65589.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="assets/js/jquery-3.5.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<script src="assets/js/angular.js"></script>
</head>
<body>
  <app-root></app-root>
  <script type="text/javascript">
		var app = angular.module('loginApp', []);
		app.controller('loginCtrl', function ($scope, $http, $compile, $filter, $location, $window, $interval) {

			$scope.url = "http://localhost:3001/";
			$scope.baseURL = "http://localhost:4200/book";

			$scope.login = function (){
				if($("#email").val() == '' || $("#email").val() == undefined) {
					$("#emailError").css("display","inline");
				} else if($("#password").val() == '' || $("#password").val() == undefined) {
					$("#emailError").css("display","none");
					$("#passwordError").css("display","inline");
				} else {
					$("#passwordError").css("display","none");
					var url = $scope.url+"login-user";
					var email = $("#email").val();
					var password = $("#password").val();
					var data = {
						email: email,
						password: password
					};
					$http.post(url, data).then(function(response){
						if(response.data.success == false) {
							$("#loginError").css("display","inline");
						} else {
							$("#loginError").css("display","none");
							localStorage.setItem('email',email);
							$window.location.href = '/mail';
						}
					});
				}
			}

			$scope.createUserModelOpen = function (){
				$("#createUserModal").modal("show");
			}

			$scope.createUser = function (){
				if($("#add_first_name").val() != '' && $("#add_last_name").val() != '' && $("#add_email").val() != '') {

					var first_name = $("#add_first_name").val();
					var last_name = $("#add_last_name").val();
					var email = $("#add_email").val();

					var data = {
						'first_name':first_name,
						'last_name':last_name,
						'email':email
					};
					var url = $scope.url+"create-user";
					$http.post(url, data).then(function(response){
						$("#createUserModal").modal("hide");
						$("#add_email_error").css('display','none')
						$("#add_first_name").val('');
						$("#add_last_name").val('');
						$("#add_email").val('');


					});
				} else {
					if($("#add_first_name").val() == '') {
						$("#add_first_name_error").css('display','inline');
					} else if($("#add_last_name").val() == '') {
						$("#add_first_name_error").css('display','none');
						$("#add_last_name_error").css('display','inline');
					} else if($("#add_email").val() == '') {
						$("#add_last_name_error").css('display','none');
						$("#add_email_error").css('display','inline');
					} else {
						$("#add_email_error").css('display','none');
					}
				}
			}

			
			$interval(function(){
			}, 1000)
		});

		var mail = angular.module('mailApp', []);
		mail.controller('mailCtrl', function ($scope, $http, $compile, $filter, $location, $window, $interval) {
			$scope.url = "http://localhost:3001/";
			$scope.emails = [];
			$scope.users = [];
			$scope.new_mail = [];

			$scope.logout = function (){
				var url = $scope.url+"logout-user";
				var email = localStorage.getItem('email');
				var data = {
					email: email
				};
				$http.post(url, data).then(function(response){
					if(response.data.success == false) {
						alert('Unauthorized Login');
					} else {
						localStorage.removeItem('email');
						$window.location.href = '/login';
					}
				});
			}

			$scope.composeModelOpen = function (){
				$("#composeModal").modal("show");
			}

			$scope.compose = function (){
				if($("#to").val() != '') {
					$("#to_error").css('display','none');
					$("#composeModal").modal("hide");

					var to = $("#to").val();
					var from = localStorage.getItem('email');
					var subject = $("#subject").val();
					var body = $("#body").val();

					var data = {
						'to':to,
						'from':from,
						'subject':subject,
						'body':body
					};
					var url = $scope.url+"send-message";
					$http.post(url, data).then(function(response){
						$("#email").html('');
						$scope.emails = [];
						$scope.getMessage();

					});
				} else {
					if($("#to").val() == '') {
						$("#to_error").css('display','inline');
					} else {
						$("#to_error").css('display','none');
					}
				}
			}

			$scope.closeModel = function() {
				$("#composeModal").modal("hide");
			}

			$scope.sentMailCSS = function() {
				$("#sent_message").html('');
				$("#sent").addClass('selected');
				$('#email_message').css('display','none');
				$('#email').css('display','none');
				$('#sent_message').css('display','inline');
			}

			$scope.sentMail = function() {
				$("#sent_message").html('');
				if($('button.compose.selected').attr('id') == "inbox") {
					$("#inbox").removeClass('selected');
					$scope.sentMailCSS();
				} else if($('button.compose.selected').attr('id') == "trash") {
					$("#trash").removeClass('selected');
					$('#trash_message').css('display','none');
					$scope.sentMailCSS();
				}
				$scope.new_mail = [];
				var email = localStorage.getItem('email');
				var url = $scope.url+"sent-message?email="+email;
				$http.get(url).then(function(response){
					var new_mail = response.data.data;
					if(new_mail != undefined && new_mail != '') {
						angular.forEach(new_mail, function (value, key) {
							$scope.new_mail.push({"created_at":value.created_at,"from_address":value.from_address,"id":value.id,"is_read":value.is_read,"message":value.message,"message_id":value.message_id,"subject":value.subject,"to_address":value.to_address,"updated_at":value.updated_at});
						});
						angular.forEach($scope.new_mail, function (value, key) {
							if(value != undefined && value != '') {
								if(value.is_read == "N") {
									var local_email = localStorage.getItem('email');
									var from_address = value.from_address;
									if(local_email == from_address) {
										from_address = value.to_address;
									}
									var EmailHTMLNEW = '<div class="row message" ng-click="message_read(\''+value.id+'\');">';
									EmailHTMLNEW += '<div class="col-md-4">';
									EmailHTMLNEW += '<div class="row">';
									EmailHTMLNEW += '<div class="col-md-6">';
									EmailHTMLNEW += from_address;
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '<div class="col-md-6">';
									EmailHTMLNEW += '<p id="message_count"></p>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '<div class="col-md-6">';
									EmailHTMLNEW += '<b>'+value.subject+' - '+value.message+'</b>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '<div class="col-md-2 txt-right date">';
									EmailHTMLNEW += '<b>'+convert(value.created_at)+'</b>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '<hr/>';
								} else {
									var local_email = localStorage.getItem('email');
									var from_address = value.from_address;
									if(local_email == from_address) {
										from_address = value.to_address;
									}
									var EmailHTMLNEW = '<div class="row message" ng-click="message_read(\''+value.id+'\');">';
									EmailHTMLNEW += '<div class="col-md-4">';
									EmailHTMLNEW += '<div class="row">';
									EmailHTMLNEW += '<div class="col-md-6">';
									EmailHTMLNEW += from_address;
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '<div class="col-md-6">';
									EmailHTMLNEW += '<p id="message_count"></p>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '<div class="col-md-6">';
									EmailHTMLNEW += value.subject+' - '+value.message;
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '<div class="col-md-2 txt-right">';
									EmailHTMLNEW += convert(value.created_at);
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '</div>';
									EmailHTMLNEW += '<hr/>';
								}
								var $email = $(EmailHTMLNEW).appendTo('#sent_message');
								$compile($email)($scope);
							} else {
								var EmailHTMLNEW = "<h3>No Messages Found</h3>";
								var $email = $(EmailHTMLNEW).appendTo('#sent_message');
								$compile($email)($scope);
							}
						});
					} else if(response.data.message != undefined && response.data.message != '') {
						var EmailHTMLNEW = "<h3>"+response.data.message+"</h3>";
						var $email = $(EmailHTMLNEW).appendTo('#sent_message');
						$compile($email)($scope);
					}
				});
			}

			function count(id) {
				var url = $scope.url+"count-message/"+id;
				$scope.count = [];
				$http.get(url).then(function(response){
					new_count = response.data.count;
					if(new_count <= 1) {
					} else {
						$scope.count.push({"id":new_count});
						angular.forEach($scope.count, function (value, key) {
							var result_id = value.id;
							var EmailHTMLNEW = "<p class='mar-left'>"+result_id+"</p>";
							var $email = $(EmailHTMLNEW).appendTo('#message_count');
							$compile($email)($scope);
						});
					}
				});

			}

			$scope.trashMailCSS = function() {
				$("#trash_message").html('');
				$("#inbox").removeClass('selected');
				$("#sent").removeClass('selected');
				$("#trash").addClass('selected');
				$('#email_message').css('display','none');
				$('#sent_message').css('display','none');
				$('#email').css('display','none');
				$('#trash_message').css('display','inline');
			}

			$scope.trashMail = function() {
				$("#trash_message").html('');
				if($('button.compose.selected').attr('id') == "inbox") {
					$scope.trashMailCSS();
				} else if($('button.compose.selected').attr('id') == "sent") {
					$scope.trashMailCSS();
				}
				$scope.trash_mail = [];
				var url = $scope.url+"trash-message";
				$http.get(url).then(function(response){
					var trash_mail = response.data.data;
					if(trash_mail != undefined && trash_mail != '') {
						angular.forEach(trash_mail, function (value, key) {
							$scope.trash_mail.push({"created_at":value.created_at,"from_address":value.from_address,"id":value.id,"is_read":value.is_read,"message":value.message,"message_id":value.message_id,"subject":value.subject,"to_address":value.to_address,"updated_at":value.updated_at});
						});
						angular.forEach($scope.trash_mail, function (value, key) {
							if(value != undefined && value != '') {
								if(value.is_read == "N") {
									var counts = count(value.id);
									var TrashEmailHTMLNEW = '<div class="row message" ng-click="message_read(\''+value.id+'\');">';
									TrashEmailHTMLNEW += '<div class="col-md-4">';
									TrashEmailHTMLNEW += '<div class="row">';
									TrashEmailHTMLNEW += '<div class="col-md-6">';
									TrashEmailHTMLNEW += '<b>'+from_address+'</b>';
									TrashEmailHTMLNEW += '</div>';
									TrashEmailHTMLNEW += '<div class="col-md-6">';
									TrashEmailHTMLNEW += '<p id="message_count" class="'+value.id+'"></p>';
									TrashEmailHTMLNEW += '</div>';
									TrashEmailHTMLNEW += '</div>';
									TrashEmailHTMLNEW += '</div>';
									TrashEmailHTMLNEW += '<div class="col-md-6">';
									TrashEmailHTMLNEW += '<b>'+value.subject+' - '+value.message+'</b>';
									TrashEmailHTMLNEW += '</div>';
									TrashEmailHTMLNEW += '<div class="col-md-2 txt-right date">';
									TrashEmailHTMLNEW += '<b>'+convert(value.created_at)+'</b>';
									TrashEmailHTMLNEW += '</div>';
									TrashEmailHTMLNEW += '</div>';
									TrashEmailHTMLNEW += '<hr/>';
								} else {
									var local_email = localStorage.getItem('email');
									var from_address = value.from_address;
									if(local_email == from_address) {
										from_address = value.to_address;
									}
									var counts = count(value.id);
									var TrashEmailHTMLNEW = '<div class="row message" ng-click="message_read(\''+value.id+'\');">';
									TrashEmailHTMLNEW += '<div class="col-md-4">';
									TrashEmailHTMLNEW += '<div class="row">';
									TrashEmailHTMLNEW += '<div class="col-md-6">';
									TrashEmailHTMLNEW += from_address;
									TrashEmailHTMLNEW += '</div>';
									TrashEmailHTMLNEW += '<div class="col-md-6">';
									TrashEmailHTMLNEW += '<p id="message_count" class="'+value.id+'"></p>';
									TrashEmailHTMLNEW += '</div>';
									TrashEmailHTMLNEW += '</div>';
									TrashEmailHTMLNEW += '</div>';
									TrashEmailHTMLNEW += '<div class="col-md-6">';
									TrashEmailHTMLNEW += value.subject+' - '+value.message;
									TrashEmailHTMLNEW += '</div>';
									TrashEmailHTMLNEW += '<div class="col-md-2 txt-right">';
									TrashEmailHTMLNEW += convert(value.created_at);
									TrashEmailHTMLNEW += '</div>';
									TrashEmailHTMLNEW += '</div>';
									TrashEmailHTMLNEW += '<hr/>';
								}
								var $email = $(TrashEmailHTMLNEW).appendTo('#trash_message');
								$compile($email)($scope);
							} else {
								var TrashEmailHTMLNEW = "<h3>No Messages Found</h3>";
								var $email = $(TrashEmailHTMLNEW).appendTo('#trash_message');
								$compile($email)($scope);
							}
						});
					} else if(response.data.message != undefined && response.data.message != '') {
						var TrashEmailHTMLNEW = "<h3>"+response.data.message+"</h3>";
						var $email = $(TrashEmailHTMLNEW).appendTo('#trash_message');
						$compile($email)($scope);
					}
				});
			}

			$scope.homeCSS = function (){
				$('#email_message').css('display','none');
				$('#email').css('display','none');
				$("#sent_message").css('opacity','0.5');
				$("#email_message").css('opacity','0.5');
				$("#trash_message").css('opacity','0.5');
				$("#email").css('opacity','0.5');
				$scope.emails = [];
			}

			$scope.home = function (){
				if($('button.compose.selected').attr('id') == "sent") {
					$scope.homeCSS();
					$("#sent_message").html('');
					$('#sent_message').css('display','inline');
					$scope.sentMail();
				} else if($('button.compose.selected').attr('id') == "trash") {
					$scope.homeCSS();
					$('#sent_message').css('display','none');
					$("#trash_message").html('');
					$('#trash_message').css('display','inline');
					$scope.trashMail();
				} else {
					$scope.homeCSS();
					$('#sent_message').css('display','none');
					$("#email").html('');
					$('#email').css('display','inline');
					$scope.getMessage();
				}
			}

			$scope.message_read = function (id){
				$("#email").css('opacity','2.5');
				$("#email_message").css('opacity','2.5');
				$("#sent_message").css('opacity','2.5');
				$('#email_message').html('');
				$('#email').css('display','none');
				$('#sent_message').css('display','none');
				$('#trash_message').css('display','none');
				$('#email_message').css('display','inline');
				var url = $scope.url+"read-message/"+id;
				$http.get(url).then(function(response){
					$window.location.url = '/mail/'+id;

					var subject = response.data.data[0].subject;
					var from_address = '';
				 	var header = "<div class='row'>";
				 	header += "<div class='col-md-4'>";
					header += "<button class='mar-right' ng-click='home();' class='no-line'><i class='fas fa-arrow-left'></i></button>";
					if($('button.compose.selected').attr('id') == "inbox") {
						header += '<button class="mar-right" ng-click="removeMessage(\''+id+'\');" class="no-line"><i class="fas fa-trash"></i></button>';
					} else if($('button.compose.selected').attr('id') == "sent") {
						header += '<button class="mar-right" ng-click="removeMessage(\''+id+'\');" class="no-line"><i class="fas fa-trash"></i></button>';
					} else {						
						header += '<button class="mar-right" ng-click="removeTrashMessage(\''+id+'\');" class="no-line"><i class="fas fa-trash"></i></button>';
					}
					
					header += "</div>";
					header += "</div>";
					header += "<hr/>";
					header += "<div class='row'>";
					header += "<div class='col-md-8'>";
					header += "<h3 id='subject_read'>"+subject+"</h3>";
					header += "</div>";	
					header += "</div>";
					header += "<br/><br/>";
					var $header = $(header).appendTo('#email_message');
					$compile($header)($scope);
					var body = '';
					angular.forEach(response.data.data, function (value, key) {
						if(value != undefined && value != '') {
							var local_email = localStorage.getItem('email');
							from_address = value.from_address;
							if(local_email == from_address) {
								from_address = value.to_address;
							}
							var id = value.id;
							var message = value.message;
							var created_at = value.created_at;
							body += "<div class='row'>";
							body += "<div class='col-md-4'>";
							body += "<b>"+from_address+"</b>";
							body += "</div>";
							body += "<div class='col-md-8'>";
							body += "<p class='txt-right'>"+readDate(created_at)+" ("+timeSince(created_at)+" ago)</p>";
							body += "</div>";
							body += "</div>";
							body += "<p>"+message+"</p>";
							body += "<br><br>";
						} else {

						}				
				 	});
				 	var $header = $(body).appendTo('#email_message');
				 	var Footer = "<br><br>";
					Footer += "<div id='reply' style='display:none;'>";
					Footer += "<input type='hidden' class='form-control no-line' id='id' value='"+id+"'>";
					Footer += "<div class='form-group' [formGroup]='composeForm'>";
					Footer += "<input class='form-control no-line' formControlName='to' id='to' placeholder='to' value='"+from_address+"'>";
					Footer += "</div>";
					Footer += "<div class='form-group' [formGroup]='composeForm'>";
					Footer += "<textarea class='form-control no-line' row='6' formControlName='body_reply' id='body_reply' placeholder='body'></textarea>";
					Footer += "</div>";
					Footer += "</div>";
					Footer += "<button class='btn compose mar-bottom mar-right' type='button' ng-click='reply();' id='reply_btn'><i class='fas fa-reply'></i> Reply</button>";
					Footer += "<button class='btn btn-primary compose mar-bottom mar-right' type='button' ng-click='send();' id='send_btn' style='display:none;'><i class='fas fa-paper-plane'></i> Send</button>";
					var $header = $(Footer).appendTo('#email_message');
					$compile($header)($scope);
				});
			}

			$scope.reply = function() {
				$("#reply").css('display','inline');
				$("#reply_btn").css('display','none');
				$("#send_btn").css('display','inline');
			}

			$scope.send = function() {
				var to = $("#to").val();
				var from = localStorage.getItem('email');
				var subject = $("#subject_read").val();
				var body = $("#body_reply").val();
				var id = $("#id").val();

				var data = {
					'to':to,
					'from':from,
					'subject':subject,
					'body':body
				};
				var url = $scope.url+"reply-message/"+id;
				$http.post(url, data).then(function(response){
					$("#email").html('');
					$scope.emails = [];
					$scope.getMessage();

				});
			}

			$scope.getUsers = function (){
				$scope.users = [];
				var email = localStorage.getItem('email');
				var url = $scope.url+"user-emails?email="+email;
				$http.get(url).then(function(response){
					var new_user = response.data.data;
					angular.forEach(new_user, function (value, key) {
						$scope.users.push({"email":value.email});
					});
				});
			}


			$scope.getMessageCSS = function (){
				$("#inbox").addClass('selected');
				$('#email').css('display','inline');
			}

			$scope.getMessage = function (){
				$("#email").html('');
				if($('button.compose.selected').attr('id') == "sent") {
					$scope.getMessageCSS();
					$('#sent').removeClass('selected');
					$('#email_message').css('display','none');
					$('#sent_message').css('display','none');
				} else if($('button.compose.selected').attr('id') == "trash") {
					$scope.getMessageCSS();
					$('#trash').removeClass('selected');
					$('#email_message').css('display','none');
					$('#sent_message').css('display','none');
					$('#trash_message').css('display','none');
					$('#email').css('display','inline');
				} else {
					$scope.getMessageCSS();
					$('#sent').removeClass('selected');
					$('#trash').removeClass('selected');
					$('#email_message').css('display','none');
					$('#sent_message').css('display','none');
					$('#trash_message').css('display','none');
					$('#email').css('display','inline');
				}

				$scope.emails = [];
				$("#email").html('');
				var email = localStorage.getItem('email');
				var url = $scope.url+"get-messages?email="+email;
				$http.get(url).then(function(response){
					$("#to").html('');
					var UserHTML = '';
					angular.forEach($scope.users, function (value) {
						UserHTML += "<option id='"+value.email+"'>"+value.email+"</option>";
					});
					var $user = $(UserHTML).appendTo('#to');
					$compile($user)($scope);
					var new_email = response.data.data;
					if(new_email != undefined && new_email != '') {
						angular.forEach(new_email, function (value, key) {
							$scope.emails.push({"id": value.id, "from_address": value.from_address, "to_address": value.to_address, "subject": value.subject, "message": value.message, "is_read" : value.is_read, "created_at": value.created_at});
						});
						angular.forEach($scope.emails, function (value) {
							if(value != undefined && value != '') {
								if(value.is_read == "N") {
									var counts = count(value.id);
									var EmailHTML = '<div class="row message" ng-click="message_read(\''+value.id+'\');">';
									EmailHTML += '<div class="col-md-4">';
									EmailHTML += '<div class="row">';
									EmailHTML += '<div class="col-md-6">';
									EmailHTML += '<b>'+value.from_address+'</b>';
									EmailHTML += '</div>';
									EmailHTML += '<div class="col-md-6">';
									EmailHTML += '<p id="message_count" class="'+value.id+'"></p>';
									EmailHTML += '</div>';
									EmailHTML += '</div>';
									EmailHTML += '</div>';
									EmailHTML += '<div class="col-md-6">';
									EmailHTML += '<b>'+value.subject+' - '+value.message+'</b>';
									EmailHTML += '</div>';
									EmailHTML += '<div class="col-md-2 txt-right date">';
									EmailHTML += '<b>'+convert(value.created_at)+'</b>';
									EmailHTML += '</div>';
									EmailHTML += '</div>';
									EmailHTML += '<hr/>';
								} else {
									var counts = count(value.id);
									var EmailHTML = '<div class="row message" ng-click="message_read(\''+value.id+'\');">';
									EmailHTML += '<div class="col-md-4">';
									EmailHTML += '<div class="row">';
									EmailHTML += '<div class="col-md-6">';
									EmailHTML += value.from_address;
									EmailHTML += '</div>';
									EmailHTML += '<div class="col-md-6">';
									EmailHTML += '<p id="message_count" class="'+value.id+'"></p>';
									EmailHTML += '</div>';
									EmailHTML += '</div>';
									EmailHTML += '</div>';
									EmailHTML += '<div class="col-md-6">';
									EmailHTML += value.subject+' - '+value.message;
									EmailHTML += '</div>';
									EmailHTML += '<div class="col-md-2 txt-right">';
									EmailHTML += convert(value.created_at);
									EmailHTML += '</div>';
									EmailHTML += '</div>';
									EmailHTML += '<hr/>';
								}
								var $email = $(EmailHTML).appendTo('#email');
								$compile($email)($scope);
							} else {
								var EmailHTML = "<h3>No Messages Found</h3>";
								var $email = $(EmailHTML).appendTo('#email');
								$compile($email)($scope);
							}
						});
					} else if(response.data.message != undefined && response.data.message != '') {
						var TrashEmailHTMLNEW = "<h3>"+response.data.message+"</h3>";
						var $email = $(TrashEmailHTMLNEW).appendTo('#email');
						$compile($email)($scope);
					}
				});
			}

			$scope.removeMessage = function (id){
				var url = $scope.url+"remove-message/"+id;
				$http.delete(url).then(function(response){
					var book_details = response.data.success;
					if(book_details == true) {
						$scope.emails = [];
						if($('button.compose.selected').attr('id') == "trash") {
							$scope.trashMail();
							$("#trash_message").html('');
							$scope.trashMailCSS();
						} else if($('button.compose.selected').attr('id') == "inbox") {
							$scope.getMessage();
							$("#email").html('');
							$scope.getMessageCSS();
						} else if($('button.compose.selected').attr('id') == "sent") {
							$scope.sentMail();
							$("#sent_message").html('');
							$scope.sentMailCSS();
						}
					} else {

					}
				});
			}

			$scope.removeTrashMessage = function (id){
				var url = $scope.url+"remove-trash-message/"+id;
				$http.delete(url).then(function(response){
					var book_details = response.data.success;
					if(book_details == true) {
						$scope.emails = [];
						if($('button.compose.selected').attr('id') == "trash") {
							$scope.trashMail();
							$("#trash_message").html('');
							$scope.trashMailCSS();
						} else if($('button.compose.selected').attr('id') == "inbox") {
							$scope.getMessage();
							$("#email").html('');
							$scope.getMessageCSS();
						} else if($('button.compose.selected').attr('id') == "sent") {
							$scope.sentMail();
							$("#sent_message").html('');
							$scope.sentMailCSS();
						}
					} else {

					}
				});
			}

			function timeSince(date) {
				var seconds = Math.ceil((new Date() - new Date(date)) / 1000);
				var interval = seconds / 31536000;
				if (interval > 1) {
					return Math.ceil(interval) + " years";
				}
				interval = seconds / 2592000;
				if (interval > 1) {
					return Math.ceil(interval) + " months";
				}
				interval = seconds / 86400;
				if (interval > 1) {
					return Math.ceil(interval) + " days";
				}
				interval = seconds / 3600;
				if (interval > 1) {
					return Math.ceil(interval) + " hours";
				}
				interval = seconds / 60;
				if (interval > 1) {
					return Math.ceil(interval) + " minutes";
				}
				return Math.ceil(seconds) + " seconds";
			}

			function convert(str) {
			    var current_date = new Date(str);
			    var today_date = new Date();
			    var only_date = current_date.getDate();
			    var only_today_date = today_date.getDate();
			    var only_year = current_date.getFullYear();
			    var only_today_year = today_date.getFullYear();
			    var result_date = '';
			    var month_name = function(dt){
					mlist = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
					  return mlist[dt.getMonth()];
				};
				if(only_year == only_today_year) {
					if(only_date == only_today_date) {
				    	var isPM = current_date.getHours() >= 12;
						var isMidday = current_date.getHours() == 12;
						var result = document.querySelector('#result');
					   	result_date = [current_date.getHours() - (isPM && !isMidday ? 12 : 0), 
						            current_date.getMinutes() || '00'].join(':') +
						           (isPM ? ' pm' : 'am');
				    } else {
				    	var month = month_name(current_date);
						var dates = current_date.getDate();
						result_date = month +' '+dates;
			   		}
				} else {
					var date = current_date.getDate();
					var month = current_date.getMonth() + 1;
					var year = current_date.getFullYear();
					result_date =  date +'/'+ month +'/'+ year;
				}
			    
				return result_date;
			}

			function readDate(str) {
				var current_date = new Date(str);
			    var today_date = new Date();
			    var only_date = current_date.getDate();
			    var only_today_date = today_date.getDate();
			    var only_year = current_date.getFullYear();
			    var only_today_year = today_date.getFullYear();
			    var result_date = '';
			    var month_name = function(dt){
					mlist = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
					return mlist[dt.getMonth()];
				};

				var isPM = current_date.getHours() >= 12;
				var isMidday = current_date.getHours() == 12;
				var result = document.querySelector('#result');
			   	var time = [current_date.getHours() - (isPM && !isMidday ? 12 : 0), 
				            current_date.getMinutes() || '00'].join(':') +
				           (isPM ? ' pm' : 'am');
				var date = current_date.getDate();
				var month = month_name(current_date);
				var year = current_date.getFullYear();
				result_date = month +' '+date+','+ year+', '+time;
				return result_date;
			}
		});
	</script>
</body>
</html>
